.card-bottom {
    width: 320px;
    border-radius: 6px;
    text-align: center;
    background: #EFF3FA;
    display: inline-block;
    margin: 16px 0 0 32px;
}

@media (max-width: 700px) {
    .card-bottom {
        margin: 1em 0;
    }
}

.card-bottom.dark {
    background: #1D2742;
}

.card-bottom.dark:hover {
    background: #2d3d66;
}

.card-bottom .topo,
.card-bottom .rodape-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 1.5em;
}

.card-bottom:hover {
    background: #C6C8D4;
    cursor: pointer;
}

.card-bottom .topo h4 {
    color: #606785;
    margin-bottom: 2em;
}

.card-bottom .rodape-bottom h5 {
    font-size: 2.5em;
    margin: 0;
}

.card-bottom .rodape-bottom h6 {
    font-size: 1em;
    margin: 0;
}